<div>
  <div id="register" style="width:100%;" ng-controller="homeController" ng-init="initializeController()" ng-cloak>

    <main class="site-main">
      <section class="hero_area">
        <div class="hero_content">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h1>WATERCONS</h1>
                <h2>Increase water efficiency</h2>
                <!-- <h3 style="padding-left:180px;"><a href="#" style="padding-left:10px; padding-right:10px; border-style:solid; border-width: 1px; background-color: deepblue;" title="">Try for Free</a></h3> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="boxes_area">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="box">
                <h3>WATER CONSERVATION</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                <i class="fa fa-cogs"></i>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box">
                <h3>REBATE PROGRAMS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                <i class="fa fa-clipboard"></i>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box">
                <h3>DROUGHT WATCH</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                <i class="fa fa-exclamation-triangle"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="services">
        <h2 class="section-title">SERVICES</h2>
        <p class="desc">WaterCons system program and data management services</p>
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="media">
                <div class="media-left media-middle">
                  <i class="fa fa-cogs"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">CONSERVATION PROGRAMS</h4>
                  <p>Lorem ipsum dolor amet,consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="media">
                <div class="media-left media-middle">
                  <i class="fa fa-user-md"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">SURVEY & CAMPAIGN MANAGEMENT</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="media">
                <div class="media-left media-middle">
                  <i class="fa fa-stethoscope"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">WATER WATCH</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="media">
                <div class="media-left media-middle">
                  <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">OUTREACH & EDUCATIONAL TRAINING</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="media">
                <div class="media-left media-middle">
                  <i class="fa fa-file-text-o"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">BILLING DATA INTEGRATION</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="media">
                <div class="media-left media-middle">
                  <i class="fa fa-heartbeat"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">DROUGHT WATCH</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="home-area">
        <div class="home_content">
          <div class="container">
            <div class="row">
              <!--<div class="col-sm-12"><h2 class="sub_title">LATEST NEWS</h2></div>
              <div class="home_list">
                <ul>
                  <li class="col-md-3 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                      <img src="../../img/h1.jpeg" alt="Post">
                      <div class="caption">
                        <h3><a href="#">Post Title</a></h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        <a href="#" class="btn btn-link" role="button">More</a>
                      </div>
                    </div>
                  </li>
                  <li class="col-md-3 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                      <img src="../../img/h2.jpg" class="img-responsive" alt="Post">
                      <div class="caption">
                        <h3><a href="#">Post Title</a></h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        <a href="#" class="btn btn-link" role="button">More</a>
                      </div>
                    </div>
                  </li>
                  <li class="col-md-3 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                      <img src="../../img/h3.jpeg" class="img-responsive" alt="Post">
                      <div class="caption">
                        <h3><a href="#">Post Title</a></h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        <a href="#" class="btn btn-link" role="button">More</a>
                      </div>
                    </div>
                  </li>
                  <li class="col-md-3 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                      <img src="../../img/h4.jpeg" class="img-responsive" alt="Post">
                      <div class="caption">
                        <h3><a href="#">Post Title</a></h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        <a href="#" class="btn btn-link" role="button">More</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>-->

              <div class="col-sm-9 home_bottom">
                <h2 class="sub_title">REFERENCES</h2>
                <div class="clearfix"></div>
                <div class="row">
                  <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="6000" id="myCarousel">
                    <div class="carousel-inner">
                      <div class="item active">
                        <div class="col-md-2 col-sm-6 col-xs-12 p10">
                          <a href="#"><img src="../../img/l1.jpg" class="img-responsive" alt="Reference"></a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12 p10">
                          <a href="#"><img src="../../img/l2.jpg" class="img-responsive" alt="Reference"></a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12">
                          <a href="#"><img src="../../img/l3.jpg" class="img-responsive" alt="Reference"></a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12">
                          <a href="#"><img src="../../img/l4.jpg" class="img-responsive" alt="Reference"></a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12">
                          <a href="#"><img src="../../img/l5.jpg" class="img-responsive" alt="Reference"></a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12">
                          <a href="#"><img src="../../img/l6.jpg" class="img-responsive" alt="Reference"></a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12">
                          <a href="#"><img src="../../img/l7.jpg" class="img-responsive" alt="Reference"></a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12">
                          <a href="#"><img src="../../img/l8.jpg" class="img-responsive" alt="Reference"></a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12 p10">
                          <a href="#"><img src="../../img/l1.jpg" class="img-responsive" alt="Reference"></a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12 p10">
                          <a href="#"><img src="../../img/l2.jpg" class="img-responsive" alt="Reference"></a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12">
                          <a href="#"><img src="../../img/l3.jpg" class="img-responsive" alt="Reference"></a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12">
                          <a href="#"><img src="../../img/l4.jpg" class="img-responsive" alt="Reference"></a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12">
                          <a href="#"><img src="../../img/l5.jpg" class="img-responsive" alt="Reference"></a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12">
                          <a href="#"><img src="../../img/l6.jpg" class="img-responsive" alt="Reference"></a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12">
                          <a href="#"><img src="../../img/l7.jpg" class="img-responsive" alt="Reference"></a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12">
                          <a href="#"><img src="../../img/l8.jpg" class="img-responsive" alt="Reference"></a>
                        </div>
                      </div>
                    </div>
                    <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>-->
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <h2 class="sub_title w10">CALL YOU</h2>
                <div class="clearfix"></div>
                <div class="login-form-1">
                  <form id="login-form" class="text-left">
                    <div class="login-form-main-message"></div>
                    <div class="main-login-form">
                      <div class="login-group">
                        <div class="form-group">
                          <label for="ad" class="sr-only">Name</label>
                          <input ng-model="FullName" type="text" class="form-control" id="FullName" name="FullName" placeholder="Name">
                        </div>
                        <div class="form-group">
                          <label for="tel" class="sr-only">Phone Number</label>
                          <input ng-model="OfficePhone" type="text" class="form-control" id="OfficePhone" name="OfficePhone" placeholder="Phone Number">
                        </div>
                      </div>
                      <button type="submit" class="login-button" ng-click="registerContact()"><i class="fa fa-chevron-right"></i></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
  </div>