
<div ng-controller="pricingController" ng-init="initializeController()">

  <div class="bread_area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ol class="breadcrumb">
            <li><a href="#Main/Home">Home</a></li>
            <li class="active">Pricing</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <main class="site-main page-main">
    <div class="container">
      <div class="row">
          <section class="page col-sm-9">

              <table cellspacing="0" cellpadding="0" border="0">
                  <tr>
                      <td style="vertical-align:top">
                          <h2 class="page-title">PRICING</h2>
                      </td>
                      <td style="vertical-align:top">
                          <div id="pricing-table" class="clear">
                              <div class="plan">
                                  <h3>Basic<span>$1000</span>per month</h3>
                                  <a class="btn btn-primary btn-block" href="#Admin/Register/BASIC">Sign up</a>
                                  <ul>
                                      <li><b>10</b> User Account</li>
                                      <li><b>100,000</b> Properties</li>
                                      <li><b>Online</b> Data Import </li>
                                      <li><b>Shared</b> System</li>
                                      <li><b>No</b> Local Instance</li>
                                      <li><b>Email</b> Support Only</li>
                                  </ul>
                              </div>
                              <div class="plan">
                                  <h3>Standard<span>$2000</span>per month</h3>
                                  <a class="btn btn-primary btn-block" href="#Admin/Register/STANDARD">Sign up</a>
                                  <ul>
                                      <li><b>50</b> User Account</li>
                                      <li><b>500,000</b> Properties</li>
                                      <li><b>Data</b> Import & Migration</li>
                                      <li><b>Shared</b> System</li>
                                      <li><b>No</b> Local Instance</li>
                                      <li><b>Email & Phone</b> Supports</li>
                                  </ul>
                              </div>
                              <div class="plan">
                                  <h3>Enterprise<span>$3000</span>per month</h3>
                                  <a class="btn btn-primary btn-block" href="#Admin/Register/ENTERPRISE">Sign up</a>
                                  <ul>
                                      <li><b>Unlimited</b> User Account</li>
                                      <li><b>Unlimited</b> Properties</li>
                                      <li><b>Data</b> Import & Migration</li>
                                      <li><b>Utility</b> Url Available</li>
                                      <li><b>Local Instance</b> Available</li>
                                      <li><b>On Premise Support</b> Available</li>
                                  </ul>
                              </div>
                          </div>
                      </td>
                      </tr>
                  </table>
          </section>
      </div>
    </div>
  </main>
</div>
