
<div ng-controller="productsController" ng-init="initializeController()">

  <div class="bread_area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ol class="breadcrumb">
            <li><a href="#Main/Home" title="Post">Home</a></li>
            <li class="active">Products</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <main class="site-main category-main">
    <div class="container">
      <div class="row">
        <section class="category-content col-sm-9">
          <h2 class="category-title">CATEGORY NAME</h2>
          <ul class="media-list">
            <li class="media">
              <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <td>
                    <div class="media-left">
                      <a href="#" title="Post">
                        <img class="media-object" src="../../img/h1.jpeg" alt="Post">
                      </a>
                    </div></td>
                  <td>
                    <div class="media-body">
                    <h3 class="media-heading"><a href="#" title="Post Title">Post Title</a></h3>
                    <p>Aenean vitae dolor sed purus tempus ullamcorper. Integer urna orci, lacinia ut ornare sit amet, luctus quis est. Ut interdum lorem in mattis lobortis. Maecenas tincidunt justo a lobortis facilisis.</p>

                      <br /><br /><br /><br />
                    <aside class="meta category-meta">
                      <div class="pull-left">
                        <div class="arc-comment"><a href="#" title="Comment"><i class="fa fa-comments"></i> 0 Comment</a></div>
                        <div class="arc-date">10/15/2016</div>
                      </div>
                      <div class="pull-right">
                        <ul class="arc-share">
                          <li><a href="#" title="Post"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#" title="Post"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#" title="Post"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                      </div>
                    </aside>
                  </div>
                  </td>
                </tr>
              </table>
            </li>
            <li class="media">
              <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <td>
                    <div class="media-left">
                      <a href="#" title="Post">
                        <img class="media-object" src="../../img/h2.jpg" alt="Post">
                      </a>
                    </div>
                  </td>
                  <td>
                    <div class="media-body">
                      <h3 class="media-heading"><a href="#" title="Post Title">Post Title</a></h3>
                      <p>Aenean vitae dolor sed purus tempus ullamcorper. Integer urna orci, lacinia ut ornare sit amet, luctus quis est. Ut interdum lorem in mattis lobortis. Maecenas tincidunt justo a lobortis facilisis.</p>

                      <br /><br /><br /><br />
                      <aside class="meta category-meta">
                        <div class="pull-left">
                          <div class="arc-comment"><a href="#" title="Comment"><i class="fa fa-comments"></i> 0 Comment</a></div>
                          <div class="arc-date">10/15/2016</div>
                        </div>
                        <div class="pull-right">
                          <ul class="arc-share">
                            <li><a href="#" title="Post"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title="Post"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" title="Post"><i class="fa fa-linkedin"></i></a></li>
                          </ul>
                        </div>
                      </aside>
                    </div>
                  </td>
                </tr>
              </table>
            </li>
            <li class="media">
              <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <td>
                    <div class="media-left">
                      <a href="#" title="Post">
                        <img class="media-object" src="../../img/h3.jpeg" alt="Post">
                      </a>
                    </div>
                  </td>
                  <td>
                    <div class="media-body">
                      <h3 class="media-heading"><a href="#" title="Post Title">Post Title</a></h3>
                      <p>Aenean vitae dolor sed purus tempus ullamcorper. Integer urna orci, lacinia ut ornare sit amet, luctus quis est. Ut interdum lorem in mattis lobortis. Maecenas tincidunt justo a lobortis facilisis.</p>

                      <br /><br /><br /><br />
                      <aside class="meta category-meta">
                        <div class="pull-left">
                          <div class="arc-comment"><a href="#" title="Comment"><i class="fa fa-comments"></i> 0 Comment</a></div>
                          <div class="arc-date">10/15/2016</div>
                        </div>
                        <div class="pull-right">
                          <ul class="arc-share">
                            <li><a href="#" title="Post"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title="Post"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" title="Post"><i class="fa fa-linkedin"></i></a></li>
                          </ul>
                        </div>
                      </aside>
                    </div>
                  </td>
                </tr>
              </table>
            </li>
            <li class="media">
              <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <td>
                    <div class="media-left">
                      <a href="#" title="Post">
                        <img class="media-object" src="../../img/h4.jpeg" alt="Post">
                      </a>
                    </div>
                  </td>
                  <td>
                    <div class="media-body">
                      <h3 class="media-heading"><a href="#" title="Post Title">Post Title</a></h3>
                      <p>Aenean vitae dolor sed purus tempus ullamcorper. Integer urna orci, lacinia ut ornare sit amet, luctus quis est. Ut interdum lorem in mattis lobortis. Maecenas tincidunt justo a lobortis facilisis.</p>

                      <br /><br /><br /><br />
                      <aside class="meta category-meta">
                        <div class="pull-left">
                          <div class="arc-comment"><a href="#" title="Comment"><i class="fa fa-comments"></i> 0 Comment</a></div>
                          <div class="arc-date">10/15/2016</div>
                        </div>
                        <div class="pull-right">
                          <ul class="arc-share">
                            <li><a href="#" title="Post"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title="Post"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" title="Post"><i class="fa fa-linkedin"></i></a></li>
                          </ul>
                        </div>
                      </aside>
                    </div>
                  </td>
                </tr>
              </table>
            </li>
          </ul>
        </section>
        <aside class="sidebar col-sm-3">
          <div class="widget">
            <h4>SERVICES</h4>
            <ul>
                <li class="current"><a href="#Main/Services" title="">Conservation Programs</a></li>
                <li><a href="#Main/Services" title="">Survey and Campaigns</a></li>
                <li><a href="#Main/Services" title="">Billing Data Integration</a></li>
                <li><a href="#Main/Services" title="">Water and Drought Watch</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </main>

</div>
